<!DOCTYPE html>
<html>
  <head>
    <title>GDR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script type="text/javascript">window.arrowURL="<%= image_url("arrowdown.png")%>"</script>
    <script type="text/javascript">window.cartURL="<%= image_url("cart-icon.png")%>"</script>
    <script type="text/javascript">window.searchURL="<%= image_url("search-icon.png")%>"</script>
    <script type="text/javascript">window.dropGamesURL="<%= image_url("dropGames.png")%>"</script>
    <script type="text/javascript">window.profileURL="<%= image_url("profile.jpg")%>"</script>
    <script type="text/javascript">window.bgURL="<%= image_url("bg.jpg")%>"</script>    

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>